

<nav th:fragment="nav1" class="navbar navbar-expand-lg  navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup1">
        <div class="navbar-nav">
            <a class="nav-item nav-link " href="/greeting"><li>Greeting</li></a>
            <a class="nav-item nav-link" href="/adresse"><li>chercher par adresse</li></a>
            <a class="nav-item nav-link active" href="addresses"><li>Addresses page</li></a>
        </div>
    </div>
</nav>
<nav th:fragment="nav2" class="navbar navbar-expand-lg  navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup2">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/greeting"><li>Greeting</li></a>
            <a class="nav-item nav-link" href="/adresse"><li>chercher par adresse</li></a>
            <a class="nav-item nav-link" href="addresses"><li>Addresses page</li></a>
        </div>
    </div>
</nav>
<nav th:fragment="nav3" class="navbar navbar-expand-lg  navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup3">
        <div class="navbar-nav">
            <a class="nav-item nav-link " href="/greeting"><li>Greeting</li></a>
            <a class="nav-item nav-link active" href="/adresse"><li>chercher par adresse</li></a>
            <a class="nav-item nav-link" href="addresses"><li>Addresses page</li></a>
        </div>
    </div>
</nav>